table {
  width: 100%;
}

.mat-mdc-raised-button.mat-mdc-button-base{
  margin-left: 1065px;
  font-size: 15px;
}

.mat-mdc-form-field {
  font-size: 16px;
  width: 25%;
  margin-left: 8px;
}

.spinner{
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
